@import '../../styles/_grid';
@import '../../styles/_variables';
@import '../../styles/_typography';

.oculto{
    display: none;
}

.mostrar{
    display: inline;
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    &-comp {
        width: 80vw;
    }
}

.cajasForm {
    margin: 0.5em;
    height: 2em;
}