.boton{
    display: block;
    color: 'white';
    border: '1px solid white';
    background: '#FF8300';
    width: '70%';
    margin: 'auto';
    border-radius: '4px';
    font-weight: 'bold';
    padding:'2%';
}
