@import '../../../../styles/_grid';
@import '../../../../styles/_variables';
@import '../../../../styles/_typography';

.btnAtras{
    margin-top: 2em;
}

.eleccion{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.menuEleccion{
    border-bottom: solid 2px $pastelOrange;
    text-align: center;
    width: 40vw;
}
.menuEleccion:hover{
    border-bottom: solid 2px #ffa34e;
    text-align: center;
    width: 40vw;
}