.mobileHeading-2,
.mobileHeading-3,
.mobileHeading-4 {
    font-family: $font-family-base;
    font-weight: $font-weight-base * 1.25;
}

.mobileHeading-2 {
    font-size: $font-size-base * 1.8125;
    line-height:$line-height-base * 1.7;
}

.mobileHeading-3 {
    font-size:$font-size-base * 1.625;
    line-height:$line-height-base *1.5;
}
.mobileHeading-4 {
    font-size: $font-size-base *0.761904762;
    line-height: $line-height-base *1.2;
}
.textLargeBold,
.text,
.textSmallBold {
    font-family:$font-family-base;
    font-weight: $font-weight-base *1.25;
}
.textLarge,
.textSmall {
    font-family: $font-family-base;
    font-weight: $font-weight-base;
}
.textLarge,
.textLargeBold {
    font-size: $font-size-base;
    line-height:$line-height-base *1.4;
}
.textSmall,
.textSmallBold {
    font-size: $font-size-base *0.8125;
    line-height:$line-height-base;
}
.text {
    font-size: $font-size-base;
}