$pumkingOrange: rgb(255,131,0);
$waterBlue: rgb(23,174,226);
$slateGrey: rgb(85,86,90);
$steel: rgb(136,137,140);
$tealBlue: rgb(5,155,168);
$pastelOrange: rgb(255,163,78);
$reddishPink: rgb(255,44,81);
$veryLigthPink: rgb(236,236,236);
$paleSalmon: rgb(255,200,148);
$denimBlue: rgb(56,89,156);
$warmGrey: rgb(151,151,151);
$black: rgb(0,0,0);
//
$font-family-base: 'Catamaran', sans-serif; // It must be "Gilroy"
$font-color-base: $slateGrey;
$font-size-base: 16px;
$line-height-base: 20px;

$font-weight-base: 400;

$font-size-large: 20px;
$line-height-large: 28px;

$font-size-small: 13px;
$line-height-small: 20px;
