.mobileHeading-2,
.mobileHeading-3,
.mobileHeading-4 {
  font-family: "Catamaran", sans-serif;
  font-weight: 500;
}

.mobileHeading-2 {
  font-size: 29px;
  line-height: 34px;
}

.mobileHeading-3 {
  font-size: 26px;
  line-height: 30px;
}

.mobileHeading-4 {
  font-size: 12.19048px;
  line-height: 24px;
}

.textLargeBold,
.text,
.textSmallBold {
  font-family: "Catamaran", sans-serif;
  font-weight: 500;
}

.textLarge,
.textSmall {
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
}

.textLarge,
.textLargeBold {
  font-size: 16px;
  line-height: 28px;
}

.textSmall,
.textSmallBold {
  font-size: 13px;
  line-height: 20px;
}

.text {
  font-size: 16px;
}
/*# sourceMappingURL=styles.css.map */